.bottom1a {
	text-decoration: none;
	color: #C9BB8C;
	font-family: "黑体";
	font-size: 20px;
}

.pg-bottom {
	height: 200px;
	width: 100%;
	background-color: black;
	margin-top: 0px;
	text-align: left;
	color: #C9BB8C;
}